.root{
    -fx-background-color: #123458;
}
.label{
    -fx-text-fill: #F1EFEC;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}
#lbSaludo{
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}
#lbNroCuenta{
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}
#tbTablaTransferencias{
    -fx-background-color: #0e172c;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
#clTipo {
    -fx-background-color: #FFB200;

}
#clTipo .label {
    -fx-font-size: 15px;
    -fx-text-fill: #0f0e17;
}
#clFecha{
    -fx-background-color: #EB5B00;
}
#clFecha .label{
    -fx-font-size: 15px;
    -fx-text-fill: #0f0e17;
}
#clValor{
    -fx-background-color: #D91656;
}
#clValor .label{
    -fx-font-size: 15px;
    -fx-text-fill: #0f0e17;
}
#clUsuario{
    -fx-background-color: #640D5F;
}
#clUsuario .label{
    -fx-font-size: 15px;
    -fx-text-fill: #0f0e17;
}
#clCategoria{
    -fx-background-color: #F16767;
}
#clCategoria .label{
    -fx-font-size: 15px;
    -fx-text-fill: #0f0e17;
}
#menBtnAccionesPanel{
    -fx-background-color: #ff8906;
    -fx-text-fill: #fffffe;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-border-radius: 50px;
}
#menBtnAccionesPanel .label{
    -fx-font-size: 15px;
    -fx-text-fill: #F1EFEC;
}
#menBtnAccionesPanel .menu-item{
    -fx-background-color: #ff8906;
    -fx-font-size: 10px;
}
#menBtnAccionesPanel .menu-item:hover{
    -fx-background-color: #F16767;
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
}
#menBtnAccionesPanel .context-menu{
    -fx-background-color: #EB5B00;
}